{% block tabsbar %}
    {% with %}
        {% set attr = tabsbar_attr|merge({
            'id': id ~ '_tabsbar',
            'class': tabsbar_class ~ ' ' ~ tabsbar_attr.class|default(''),
            'role': 'tablist',
        }) %}
    <ul {{ block('attributes', 'form_div_layout.html.twig') }}>
    {% endwith %}

{#    Example of item structure
    {% set item = {
        id: 'foo',
        class: '',
        btn_class: '',
        text: '',
        open: true,
    } %}
#}

    {% for item in tabs_items %}
        {% with %}
            {% set attr = tabsbar_item_attr|merge({
                'id': item.id ~ '_tab',
                'class': tabsbar_item_class ~ ' '
                    ~ tabsbar_item_attr.class|default('') ~ ' '
                    ~ item.class|default(''),
                'role': 'presentation',
            }) %}

        <li {{ block('attributes', 'form_div_layout.html.twig') }}>
        {% endwith %}
        {% with %}
            {% set attr = tabsbar_item_button_attr|merge({
                'id': item.id ~ '_tab_btn',
                'class': tabsbar_item_button_class ~ ' ' ~ tabsbar_item_button_attr.class|default('') ~ ' ' ~ item.btn_class|default(''),
                'role': 'tab',
                'aria-selected': tabsbar_item_button_attr['aria-selected']|default(false),
                'aria-controls': item.id ~ '_tab_panel',
                (tabsbar_item_button_target_attr_name): '#' ~ item.id ~ '_tab_panel',
            }) %}

            <button type="button" {{ block('attributes', 'form_div_layout.html.twig') }}>
        {% endwith %}
                {{ item.text }}
            </button>
        </li>
    {% endfor %}

    </ul>
{% endblock tabsbar %}

{% block tabspanels %}
    {% with %}
        {% set attr = tabs_panels_attr|merge({
            'id': id ~ '_tabspanels',
            'class': tabs_panels_class ~ ' ' ~ tabs_panels_attr.class|default(''),
        }) %}
    <div {{ block('attributes', 'form_div_layout.html.twig') }}>
    {% endwith %}

    {% for item in items %}
        {% with %}
            {% set attr = tabs_panel_attr|merge({
                'id': item.vars.id ~ '_tab_panel',
                'class': tabs_panel_class ~ ' ' ~ tabs_panel_attr.class|default(''),
                'role': 'tabpanel',
                'aria-labelledby': item.vars.id ~ '_tab',
                'tabindex': 0,
            }) %}

            {% if item.vars.tabs_default_open|default(false) %}
                {% set attr = attr|merge({
                    'class': attr.class ~ ' ' ~ tabs_panel_active_class,
                }) %}
            {% endif %}
        <div {{ block('attributes', 'form_div_layout.html.twig') }}>
        {% endwith %}
            {{ form_row(item) }}
        </div>
    {% endfor %}
    </div>
{% endblock tabspanels %}
