[data-form-collapse] {
    position: relative;

    > [data-prototype-delete] {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

[data-form-collapsable] {
    padding-left: 20px;
    margin-left: 12px;
    border-left: 1px solid grey;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
}

[data-form-collapsable="false"] {
    max-height: 100%;
}

[data-form-collapser-state] {
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        margin-right: 8px;
        width: 0;
        height: 0;
        transition: transform 0.2s ease-out;

        margin-left: 8px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid grey;
    }
}

[data-form-collapser-state="false"] {
    &:before {
        transform: rotate(90deg);
    }
}
